@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body,
form,
input,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
td,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  border: 0;
}
ul,
li {
  list-style: none;
}
dl,
dt,
dd {
  display: block;
}
a {
  transition: all 0.3s;
  text-decoration: none;
  outline: none;
}
input,
textarea {
  font: 14px "microsoft Yahei", "Arial", sans-serif;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
}
i {
  font-style: normal;
}
b {
  font-weight: normal;
}
.hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
@media screen and (max-width: 1920px) and (min-width: 1300px) {
  .tr_sc {
    display: block;
    overflow: hidden;
  }
  .tr_sc img {
    transition: transform 0.4s;
  }
  .tr_sc:hover img {
    transition-delay: 0.05s;
    transform: scale(1.1, 1.1);
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.demo_container {
  color: #1f2f3d;
  padding: 20px;
  .el-col {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .el-divider__text {
    font-weight: bold;
    font-size: 18px;
  }
  .demo_txt {
    margin: 10px 0;
    color: #97a8be;
  }
  .demo_con {
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    .demo_link {
      text-align: right;

      i {
        font-size: 24px;
        color: rgb(64, 158, 255);
        font-weight: bold;
      }
    }
  }
}
